
.clear {
	clear: both;
}
html, body{
	font-family: 'Lato', sans-serif;;
	background-color: #f3f3f3;
	font-size: 16px;
	color: #444444;

}
#cv {
	width: 90%;
	max-width: 800px;
	margin: 30px auto;
}

.mainDetails{
	padding: 30px 25px;	
	border-bottom: 2px solid #cf8a05;


}

#name h1{
	font-size: 2.5em;
	margin-bottom: -3px;
}
#name h2{
	font-size: 2em;
	margin-top: 0px;
	margin-left: 2px;
	margin-bottom: 0px;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

#headshot img{
	border-radius: 50px;
	height: auto;
	width: 100%;
	margin-top: 20px;
}

#name {
	float: left;
}

#contactDetails {
	float: right;
}

#contactDetails ul{
	list-style: none;
	color: #181818;
	margin-top: 40px;
}
#contactDetails ul li a, a[href^=tel] {
	text-decoration: none;
	pointer-events: none;
	color: #444444;
}

#contactDetails ul li a:hover {

}


section{
	border-top: 1px ridge #dedede;
}
.sectionTitle {
	float: left;
	width: 25%;
	color: #cf8a05;
	font-style: italic;
	font-family: 'Rokkitt', Arial, Helvetica, sans-serif;
}

.sectionContent {
	float: right;
	width: 72.5%;
	
}

.sectionContent h2{
	color: #444444;
	margin-bottom: 0px;
}

.subDetails{
	color: #444444;
	font-style: italic;
	margin-top: 0px;
	margin-bottom: 5px;
}

.sectionContent p{
	margin-top: 5px;
}

.keySkills{
	list-style-type: none;
	column-count: 3;
	margin-bottom: 20px;
	padding-left: 0px;
}
